.wpurp-clear {
    float: none;
    clear: both;
}

.wpurp-meta, .wpurp-searchable-recipe {
  display: none;
}

.wpurp-errors {
  border: 1px solid darkred;
  padding: 10px;
  margin-bottom: 20px;

  ul {
    margin: 0 !important;
  }
}

.wpurp-required {
  color: darkred;
  margin-left: 2px;
  vertical-align: top;
  font-size: smaller;
}

html body.rtl .wpurp-container {
    text-align: right;
}

html body .wpurp-container {
    position: relative !important;
    clear: both !important;
    text-align: left; // Not !important to support RTL languages
    font-size: 14px !important;

    &.wpupg-item {
        position: absolute !important;
    }

    span {
        display: inline-block !important;
    }

    * {
        border: 0 !important;

        -webkit-margin: 0 !important;
        -moz-margin: 0 !important;
        margin: 0 !important;

        -webkit-padding: 0 !important;
        -moz-padding: 0 !important;
        padding: 0 !important;

        background: none !important;

        -webkit-border-radius: 0px !important;
        -moz-border-radius:    0px !important;
        border-radius:         0px !important;

        -webkit-box-shadow: none !important;
        -moz-box-shadow:    none !important;
        box-shadow:         none !important;

        -webkit-box-sizing: border-box !important;
        -moz-box-sizing: border-box !important;
        box-sizing: border-box !important;

        color: inherit !important;
        font-size: inherit !important;
        line-height: 1.4 !important;
        font-weight: normal !important;
    }

    b, strong {
        font-weight: bold !important;
    }

    hr {
        background-color: #ccc !important;
    }

    // Reset CSS as best as possible (based on normalize.css)
    .wpurp-recipe-notes, .wpurp-paragraph {
        h1 {
            font-size: 2em !important;
            margin: 0.67em 0 !important;
        }

        h2 {
            font-size: 1.5em !important;
            margin: 0.83em 0 !important;
        }

        h3 {
            font-size: 1.17em !important;
            margin: 1em 0 !important;
        }

        h4 {
            font-size: 1em !important;
            margin: 1.33em 0 !important;
        }

        h5 {
            font-size: 0.83em !important;
            margin: 1.67em 0 !important;
        }

        h6 {
            font-size: 0.75em !important;
            margin: 2.33em 0 !important;
        }

        p, pre {
            margin: 1em 0 !important;
        }

        code, kbd, pre, samp {
            font-family: monospace, serif !important;
            _font-family: 'courier new', monospace !important;
            font-size: 1em !important;
        }

        blockquote {
            margin: 1em 40px !important;
        }

        b, strong {
            font-weight: bold !important;
        }

        dl, menu, ol, ul {
            margin: 1em 0 !important;
        }

        dd {
            margin: 0 0 0 40px !important;
        }

        menu, ol, ul {
            padding: 0 0 0 40px !important;
        }

        .aligncenter {
            margin: 0 auto !important;
        }
    }

    table {
        table-layout: auto !important;
        border-collapse: collapse !important;
        width: 100% !important;
    }

    a {
        text-decoration: none !important;

        &:hover {
            text-decoration: underline !important;
        }
    }

    .wpurp-responsive-mobile {
        display: none;
    }

    .wpurp-recipe-sharing .button.pinterest {
        margin-top: 32px !important;
    }

    .sharrre {
        iframe {
            margin: 0 !important;
            max-width: none !important;
        }

        .button.pinterest {
            a {
                background-image: url(//passets.pinterest.com/images/pidgets/pinit_bg_en_rect_gray_28_1.png) !important;
            }
        }
    }
}