#wpurp_editing {
    margin-top: 15px;
    font-weight: bold;
}

.wpurp_editing {
    display: none;
}

#wpurp-tags-table {
    tr {
        height: 32px;
    }

    #tag { width: 20%; }
    #singular-name { width: 20%; }
    #name { width: 20%; }
    #slug { width: 20%; }
    #action { width: 20%; }
}